body {
    text-align: center;
    font-size: 2em;
    background-color: #fffdf6;
}

body button {
    font-size: 0.5em;
}

body .quote {
    font-size: 0.8em;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}